<nav class="navbar fixed-bottom navbar-light bg-light">
  <a class="navbar-brand" href="/">Developed and Designed by Jiaxin Sun</a>
  <a href="https://www.facebook.com/jiaxin.sun.73"><i class="fa fa-facebook-official"></i></a>
  <a href="https://www.linkedin.com/in/jiaxin-sun-90a169166/"><i class="fa fa-github"></i></a>
  <a href="https://github.com/sjxswgjhf"><i class="fa fa-linkedin"></i></a>
</nav>