
        <section class="row" id="contact-section">
        <div style="min-width: 100%" class="col-xs-10 col-sm-10 col-md-10 col-lg-10
                    col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1 text-center">
         <a href="/contact"><img src="/images/contact.png" class="hello"></a> 
          <h2>
            Jiaxin Sun </br>
            +1(917)-859-5788 </br>
            <a href="mailto:jiaxinsun0715@gmail.com">jiaxinsun0715@gmail.com</a>
          </h2>
           <p class="social-media">
                <a href="https://www.facebook.com/jiaxin.sun.73"><i class="fa fa-facebook-official"></i></a>
                <a href="https://www.linkedin.com/in/jiaxin-sun-90a169166/"><i class="fa fa-linkedin"></i></a>
                <a href="https://github.com/sjxswgjhf"><i class="fa fa-github"></i></a>
            </p>
          <h5>Mar. 26 2019</h5>    
        </div>
      </section>