<div class="container">
    <div class = "row">
        <div class="col-sm-4">
            <img src="/images/216140.jpg" class="img-responsive">
        </div>
        <div class = "col-sm-4">
            <h1>About Me</h1>
            <p>Hello. My name is Jiaxin Sun. I am a full stack web developer</p>
            <p>I use Nodejs, Expressjs to build server side(back-end) and I use html, css/boostrap and javascript to build client side(front-end)</p>
        </div>
    </div>
</div>