<div class="container-fluid">
                <h1>About Me</h1>
    <div class = "row">
        <div class="col-sm-4">
            <img src="/images/profile_photo.jpg" class="img-responsive">
        </div>
        <div class = "col-sm-4">
            <p>Hello. My name is Jiaxin Sun. I am a full stack web developer</p>
            <p>I use Nodejs, Expressjs to build server side(back-end) and I use html, css/boostrap and javascript to build client side(front-end)</p>
            <a href="/resume/resume_pdf.pdf"><i class="fa fa-download">Download</i></a>
        </div>
    </div>
</div>