<div class="container-fluid" id="content-body">
    <h1>Gallery</h1>
    <div class="text-center">
            <div class="gallery">

                <div class="gallery_imgwrap">
                    <a href="/images/img1.jpg" title="Personal Photo">
                        <img src="/resizeimages/img1.jpg" class="img-responsive">
                        <div class="gallery_imgdes">
                            <div class="gallery_imgdesText">Personal Photo</div>
                        </div>
                    </a>
                </div>

                <div class="gallery_imgwrap">
                    <a href="/images/img2.jpg" title="Queens College">
                        <img src="/resizeimages/img2.jpg" class="img-responsive">
                        <div class="gallery_imgdes">
                            <div class="gallery_imgdesText">Queens College</div>
                        </div>
                    </a>
                </div>

                <div class="gallery_imgwrap">
                    <a href="/images/img3.jpg" title="Snowy Day">
                        <img src="/resizeimages/img3.jpg" class="img-responsive">
                        <div class="gallery_imgdes">
                            <div class="gallery_imgdesText">Snowy Day</div>
                        </div>
                    </a>
                </div>

                <div class="gallery_imgwrap">
                    <a href="/images/img13.jpeg" title="Montreal">
                        <img src="/resizeimages/img13.jpg" class="img-responsive">
                        <div class="gallery_imgdes">
                            <div class="gallery_imgdesText">Montreal</div>
                        </div>
                    </a>
                </div>

                <div class="gallery_imgwrap">
                    <a href="/images/img14.jpeg" title="Best Friends Forever">
                        <img src="/resizeimages/img14.jpg" class="img-responsive">
                        <div class="gallery_imgdes">
                            <div class="gallery_imgdesText">Best Friends Forever</div>
                        </div>
                    </a>
                </div>

                <div class="gallery_imgwrap">
                    <a href="/images/img6.jpg" title="KeyArena, Seattle">
                        <img src="/resizeimages/img6.jpg" class="img-responsive">
                        <div class="gallery_imgdes">
                            <div class="gallery_imgdesText">KeyArena, Seattle</div>
                        </div>
                    </a>
                </div>

                <div class="gallery_imgwrap">
                    <a href="/images/img7.jpg" title="Butters">
                        <img src="/resizeimages/img7.jpg" class="img-responsive">
                        <div class="gallery_imgdes">
                            <div class="gallery_imgdesText">Butters</div>
                        </div>
                    </a>
                </div>

                <div class="gallery_imgwrap">
                    <a href="/images/img15.jpeg" title="My dear parents">
                        <img src="/resizeimages/img15.jpg" class="img-responsive">
                        <div class="gallery_imgdes">
                            <div class="gallery_imgdesText">My dear parents</div>
                        </div>
                    </a>
                </div>

                <div class="gallery_imgwrap">
                    <a href="/images/img9.jpg" title="Niagara Falls">
                        <img src="/resizeimages/img9.jpg" class="img-responsive">
                        <div class="gallery_imgdes">
                            <div class="gallery_imgdesText">Niagara Falls</div>
                        </div>
                    </a>
                </div>

                <div class="gallery_imgwrap">
                    <a href="/images/img16.jpeg" title="Celtics, NBA">
                        <img src="/resizeimages/img16.jpg" class="img-responsive">
                        <div class="gallery_imgdes">
                            <div class="gallery_imgdesText">Celtics, NBA</div>
                        </div>
                    </a>
                </div>

                <div class="gallery_imgwrap">
                    <a href="/images/img17.jpeg" title="Arc de Triomphe">
                        <img src="/resizeimages/img17.jpg" class="img-responsive">
                        <div class="gallery_imgdes">
                            <div class="gallery_imgdesText">Arc de Triomphe</div>
                        </div>
                    </a>
                </div>

                <div class="gallery_imgwrap">
                    <a href="/images/img12.jpg" title="Ma Jiang(麻将)">
                        <img src="/resizeimages/img12.jpg" class="img-responsive">
                        <div class="gallery_imgdes">
                            <div class="gallery_imgdesText">Ma Jiang(麻将)</div>
                        </div>
                    </a>
                </div>
            </div>
        </div>

</div>
{{!-- 
<div class="container">
	    <div class="row" style="background-color: white">
            <div class="gallery">
                <figure>
                <img src="/images/img1.jpg" />
                <figcaption>Photo</figcaption>
                </figure>
                <figure>
                <img src="/images/img2.jpg" />
                <figcaption>Queens College <small>After Snow</small></figcaption>
                </figure>
                <figure>
                <img src="/images/img3.jpg" />
                <figcaption>Snowy Day<small>Queensborough Community College</small></figcaption>
                </figure>
                <figure>
                <img src="/images/img4.jpg"/>
                <figcaption>Japanese Resturant<small>New York</small></figcaption>
                </figure>
                <figure>
                <img src="/images/img5.jpg"/>
                <figcaption>Gifts</figcaption>
                </figure>
                <figure>
                <img src="/images/img6.jpg" />
                <figcaption>Key Arena Seattle</figcaption>
                </figure>
                <figure>
                <img src="/images/img7.jpg" />
                <figcaption>Butters</figcaption>
                </figure>
                <figure>
                <img src="/images/img8.jpg" />
                <figcaption>Butters2</figcaption>
                </figure>
                <figure>
                <img src="/images/img9.jpg" />
                <figcaption>Niagara Fall</figcaption>
                </figure>
                <figure>
                <img src="/images/img10.jpg" />
                    <figcaption>Rugby Stony Brook University</figcaption>
                </figure>
                <figure>
                <img src="/images/img11.jpg" />
                    <figcaption>Music Concert</figcaption>
                </figure>
                    <figure>
                <img src="/images/img12.jpg" />
                    <figcaption>Ma Jiang(麻将)</figcaption>
                </figure>
            </div>
        </div>
    </div> --}}