<div class="container-fluid" id="content-body">
    <h1>Gallery</h1>
    <div class="container">
	    <div class="row" style="background-color: white">
            <div class="gallery">
                <figure>
                <img src="/images/img1.jpg" />
                <figcaption>Photo</figcaption>
                </figure>
                <figure>
                <img src="/images/img2.jpg" />
                <figcaption>Queens College <small>After Snow</small></figcaption>
                </figure>
                <figure>
                <img src="/images/img3.jpg" />
                <figcaption>Snowy Day<small>Queensborough Community College</small></figcaption>
                </figure>
                <figure>
                <img src="/images/img4.jpg"/>
                <figcaption>Japanese Resturant<small>New York</small></figcaption>
                </figure>
                <figure>
                <img src="/images/img5.jpg"/>
                <figcaption>Gifts</figcaption>
                </figure>
                <figure>
                <img src="/images/img6.jpg" />
                <figcaption>Key Arena Seattle</figcaption>
                </figure>
                <figure>
                <img src="/images/img7.jpg" />
                <figcaption>Butters</figcaption>
                </figure>
                <figure>
                <img src="/images/img8.jpg" />
                <figcaption>Butters2</figcaption>
                </figure>
                <figure>
                <img src="/images/img9.jpg" />
                <figcaption>Niagara Fall</figcaption>
                </figure>
                <figure>
                <img src="/images/img10.jpg" />
                    <figcaption>Rugby Stony Brook University</figcaption>
                </figure>
                <figure>
                <img src="/images/img11.jpg" />
                    <figcaption>Music Concert</figcaption>
                </figure>
                    <figure>
                <img src="/images/img12.jpg" />
                    <figcaption>Ma Jiang(麻将)</figcaption>
                </figure>
            </div>
        </div>
    </div>
</div>

