<div class="container-fluid">
    <div id="homepage">
        <div class = "row">
            <div class="col-sm-4">
                <img src="/images/profile_photo.jpg" class="img-thumbnail img-responsive">
                <p class="introduction">Jiaxin Sun</p>
                <p class="social-media">
                    <a href="https://www.facebook.com/jiaxin.sun.73"><i class="fa fa-facebook-official"></i></a>
                    <a href="https://www.linkedin.com/in/jiaxin-sun-90a169166/"><i class="fa fa-linkedin"></i></a>
                    <a href="https://github.com/sjxswgjhf"><i class="fa fa-github"></i></a>
                </p>
            
            </div>
            <div class = "col-sm-6" >
                <p class="text-center">
                <img src="/images/hello.png" alt="hello icon" class="hello"> </br>
                Hello!
                </p>
                <p class="introduction">My name is Jiaxin Sun. I am a graduate student in Computer Science at Queens College since Fall 2019 . I completed my bachelor's double major degree in Computer Science and Applied Mathematics&Statistics at Stony Brook University in Dec 2017.</p>
                <p class="introduction">Right now, I am looking for a software developer internship. I know JavaScript, Java, Python and so on. For more detail, please visit resume website. And you can also visit my social media websites. Feel free to <a href="/contact">contact</a> me. </p>
                <p class="introduction">Of Course, you can also visit my personal <a href="https://sjxswgjhf.github.io/blog/">blog<img id = "blog" src="/images/blog.png"></a></p>
            </div>
        </div>
    </div>

    <!--Software Projects-->
      <section class="row content-section text-center" id="software-section">
        
            <h1 class="section-title text-center" style="min-width:100%">Developed Projects</h1>
        
                <!--uAsk project-->
            <div class="row" id="software-section">
                
                 <div class="col-md-6">
                    <img src="/images/animating_resume.png" class="img-responsive">
                    <h5 class="software-title">JavaScript Application: Animating Resume</h5>
                </div><!--./end uAsk project-->
   


                <div class="col-md-6">
                    <img src="/images/blue.png" class="img-responsive">
                    <h5 class="software-title">Senior Design Porject: Online Music Website</h5>
                </div><!--./end uAsk project-->
   


                <!--UROP project-->
                  <div class="col-md-6">
                    <img src="/images/regiovinco.jpg" class="img-responsive">
                    <h5 class="software-title">Undergraduate Java Project - Regio Vinco</h5>
                </div><!--./end UROP project-->
    

   
                <!--FYP project-->
                 <div class="col-md-6">
                    <img src="/images/flappybird.jpg" class="img-responsive">
                    <h5 class="software-title">Android Project - Flappy Bird Clone</h5>   
                </div><!--./end FYP Project-->
            </div>
        </section>

</div>