 <!--resume section-->
    <div id="resume-section">
      <!--portrait section-->
      <div  class="container-fluid" style="width: 80%">
      <section class="resume-page">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
            <img src="/images/resume_photo.jpg" class="img-thumbnail img-responsive">
            <p class="introduction">Jiaxin Sun</p>
            <p class="social-media">
                <a href="https://www.facebook.com/jiaxin.sun.73"><i class="fa fa-facebook-official"></i></a>
                <a href="https://www.linkedin.com/in/jiaxin-sun-90a169166/"><i class="fa fa-linkedin"></i></a>
                <a href="https://github.com/sjxswgjhf"><i class="fa fa-github"></i></a>
            </p>
            <section id="personal-information-section" class="text-center">
            <div class="contactInfo">
              <a href="mailto:jiaxinsun0715@gmail.com">jiaxinsun0715@gmail.com</a>
              <br>
              +1(917)-859-5788 
            </div>
        </section><!--/ personal-information-section-->
        </div>
    <div style="border-bottom:solid 2px #C73E10"></div>
      </section><!--/end portrait section-->         
          <!--education-section-->
          <section id="education-section">
            <h3 class="text-primary resume-category-title">
              Education
            </h3>

            <p id="education-section-body">
              <strong>Queens College, City University of New York</strong>
               <span class="align-right" id="graduation-year">Fall 2019 – Fall 2020(Expect)</span>
	          <br>
              Master: Computer Science
            <br>
              <br>
              <strong>Stony Brook University</strong>
               <span class="align-right" id="graduation-year">Jan. 2015 - Dec. 2017</span>
              <br>
	          Bachelor: Computer Science 
              <br>
               Bachelor: Applied Mathematics&Statistics
              
              <br>
            </p>

          </section> <!--/education-section-->

	      <br>
          <!--work-experience-section-->
          <section id="work-experience-section">
            <h3 class="text-primary resume-category-title">
              Work Experience
            </h3>
            <div id="work-experience-section-body">
            <div style="border-bottom:solid 1px #C73E10"></div>
                <strong>College Assistant</strong>
                <span class="align-right" id="teaching-assistant-year" >Oct. 2018 - Present</span> <br>
                Queensborough Community College
                <ul>
                    <li>College Assistant in Math and Computer Science</li>
                    <li>Teaching College Algebra and Advanced Math</li>
                    <li>Teaching fundamental C++ and Java </li>
                </ul>
            <strong>Software Developer Intern</strong>, Internal website developer
                    <span class="align-right" id="teaching-assistant-year" >May. 2017 - Aug. 2017</span> <br>
                    Tangible Media, New York
                    <ul>
                        <li>Assist and develop Single Page Application</li>
                        <li>Utilized Angular6, Node JS and MongoDB to develop the website</li>
                        <li>Perform testing on finished application and report bugs</li>
                        <li>Define requirements and translating designs and wireframes into code</li>
                    </ul>          
            </div>

          </section><!--/ work-experience-section-->
	      
	      <br>
          <!--projects-section-->
          <section id="projects-section">
            <h3 class="text-primary resume-category-title">
              Developed Projects
            </h3>
               <div style="border-bottom:solid 1px #C73E10"></div>
            <div id="projects-section-body">
                <strong>Mini-Spotify Website</strong>
                <span class="align-right">J2EE Application</span><br>
                <ul>
                    <li>Designed and developed a full-stack online music website</li>
                    <li>Utilized Spring MVC framework to develop applications on server-side</li>
                    <li>Used Hibernate framework to communicate with database</li>
                    <li>Utilized HTML/CSS to designed and modified the front-end interface</li>
                </ul>

                <strong>Regio Vinco Map Editor</strong>
                <span class="align-right">JAVA Application</span><br>
                <ul>
                        <li>Allows user to generate maps and attach info for geo quizzing games. Utilizes JavaFX to render views</li>
                        <li>Various data structures, sorting and hashing algorithms are utilized to store user-generated contents</li>
                        <li>MVC principle is followed by separating contents and style from UI views’ containers</li>
                    </ul>

                <strong>Mini-Rotten-Tomatoes</strong>
                <span class="align-right">J2EE Application</span><br>
                <ul>
                    <li>Developed dynamic and interactive website</li>
                    <li>Handle Front-end request and develop functionality on server-side</li>
                    <li>Utilized JSP to communicate with database by writing efficient SQL queries</li>
                </ul>

                <strong>Flappy Bird</strong>
                <span class="align-right">Android Application</span><br>
                <ul>
                    <li>A hot mobile game clone developed by Android Studio</li>
                    <li>Utilized LibGDX framework to design and develop </li>
                    <li>Graph designed and Functionality developed to solve problems</li>
                </ul>
            
                <strong> Dynamic Memory Allocator</strong>
                <span class="align-right">C Application</span><br>
                <ul>
                    <li>Allows users to manage memory on the heap and monitor current status of the heap</li>
                    <li>Implements a set of standard functions with explicit free list; resolves fragmentations by proper padding and alignments</li>
                    <li>Applies immediate coalescing to free blocks and utilizes first-fit strategy to search for free blocks</li>
                </ul>
            </div>
          </section><!--/ projects-section-->

        <!--skills-section-->
        <section id="skills-section">
        <h3 class="text-primary resume-category-title">
            Skills
        </h3>
        <div style="border-bottom:solid 1px #C73E10"></div>
        <div id="skills-section-body">
            <ul>
            <li>Java, Python, Angular 6, Node JS, MongoDB, JavaScript, React JS, SQL, Spring
        MVC, Hibernate, HTML, CSS</li>
            <li>Object-Oriented Design, Object-Oriented Programming, Linux, Git, MySQL, Database Design, Algorithms</li>
            </ul>
        </div>
        </section><!--/ skills-section-->

	  <!--languages-->
	  <section>
            <h3 class="text-primary resume-category-title">
              Languages
            </h3>
            <div style="border-bottom:solid 1px #C73E10"></div>
            <div id="skills-section-body">
              <ul>
		<li>Mandarin: Native</li>
		<li>English: Good</li>
		<li>Shanghainese: Native</li>
	      </ul>
            </div>
	  </section><!--/languages-->          

        <!--award-service-section-->
        <section id="award-service-section">
        <h3 class="text-primary resume-category-title">
            Awards
        </h3>
        <div style="border-bottom:solid 1px #C73E10"></div>
        <p id="award-section-body">
            <strong>First Place, Group, NYSMATYC Math Contest</strong>
            <span id="award-year" class="align-right">Fall 2014</span> <br>
            <strong>Third Runner Up place, Individual, NYSMATYC Math Contest</strong>
            <span id="award-year" class="align-right">Fall 2014</span> <br>
            <strong>Dean’s List</strong>
            <span id="award-year" class="align-right">2014, 2015, 2016</span> <br>
          
        </p>
        </section><!--./award-section-->

          <!--download-resume-section-->
          <section id="download-resume-section">
            <h4 class="text-center">
                <a href="/resume/resume_pdf.pdf"><i class="fa fa-download">Resume</i></a>
            </h4>
          </section><!--/ download-resume-section-->
        </div><!--/content-->
      </section><!--/end resume section-->
    </div>
    </div>


{{!-- <a href="/resume/resume_pdf.pdf"><i class="fa fa-download">Download</i></a> --}}