#main{
    margin-top: 60px;
    margin-bottom: 20px;
}

h1{
    color: rgb(29, 36, 31);
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

img{
    width: 400px;
    height: 300px;
    overflow: hidden;
}

.hello{
    width: 60px;
    height: 60px;
}
.social-media a{
    padding: 5px;
}

.row{
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: rgb(236, 221, 221);
    color: rgb(5, 5, 5);
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1.3em;

}


#homepage{
    text-align: left;
}

.col-sm-4{
    margin: 5px 5px 5px 5px;
    padding: 5px 5px 5px 5px;
    text-align: center;
}

#software-section{
    background-color: rgb(241, 239, 239);
}

.introduction{
    padding-top: 5px;
}

#contact-section{
    text-align: center;
    background-color: white;
}

#resume-section{
    background-color: rgb(241, 240, 238);
}

.resume-page img{
    width: 150px;
    height: 180px;
}

#check-resume{
    margin-top: 80px;
  }
  
#resume-section {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: rgb(241, 240, 238);
}
  

#profile-picture {
    max-width: 150px;
}

#social-media-section {
    margin-top: 5px;
}

#name {
    margin-top: 10px;
}

.align-right{
float: right;
}

.resume-category-title {
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: 250;
}

.project-link{
color: #c30000 !important;
}

/* #personal-information-section{
    border-bottom: 2.0px solid #C63D0F
} */

#projects-section-body p{
    padding: 0px;
}

.contactInfo{
width: 100%;
}

.course-name{
    padding-left: 10px;
}

ul{
padding-left: 20px;
}

ol{
padding-left: 20px;
}

table {
padding-left: 20px;
}

th {
font-weight: normal;
}
#jumbo{
  border-radius: 0px;
  margin-bottom: 10px;
  background-image: url(../img/hkust.jpg);
  background-position: top;
  background-repeat: no-repeat;
  height: 450px;
}
*,
*::before,
*::after {
box-sizing: border-box;
}

.gallery {
padding: 0;
margin: 0 auto;
}

.gallery img {
width: 100%;
border-radius: 10px;
-webkit-transition: all .3s ease-in-out;
transition: all .3s ease-in-out;
}

.gallery.pop {
-webkit-filter: blur(10px);
        filter: blur(10px);
}

/*
.mygallery img.img-responsive {
height: 282px;
margin-bottom: 5px;
opacity: 0.8;
display: inline-block;
transition: 0.5s all;
-webkit-transition: 0.5s all;
-moz-transition: 0.5s all;
-o-transition: 0.5s all;
-ms-transition: 0.5s all;
}
*/

/*-- /Gallery --*/

.gallery_imgwrap {
position: relative;
display: inline-block;
/* height: 200px;
width: 257px; */
}

.gallery_imgdes {
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
color: #fff;
visibility: hidden;
opacity: 0;
width: auto;
height: auto;
padding: 0px 10px;
background-color: #333;
text-align: center;
border-radius: 10px;
/* transition effect. not necessary */
/* transition: opacity .2s, visibility .2s; */
}

.gallery_imgdesText {
font-family: 'Open Sans', sans-serif;
position: absolute;
/* top: 50%; */
padding: 75% 10%;
text-align: center;
/* top: 50%; */
}

.gallery_imgwrap:hover .gallery_imgdes {
visibility: visible;
opacity: 0.8;
transition: 0.5s all;
-webkit-transition: 0.5s all;
-moz-transition: 0.5s all;
-o-transition: 0.5s all;
-ms-transition: 0.5s all;
}

.gallery_imgwrap:hover img.img-responsive {
opacity: 0.5;
transition: 0.5s all;
-webkit-transition: 0.5s all;
-moz-transition: 0.5s all;
-o-transition: 0.5s all;
-ms-transition: 0.5s all;
}