#main{
    margin-top: 60px;
    margin-bottom: 20px;
}

h1{
    color: rgb(255, 0, 85);
    text-align: center;
}


img{
    width: 250px;
    height: 250px;
    overflow: hidden;
}


#homepage{
    text-align: center;
}

.col-sm-4{
    margin: 5px 5px 5px 5px;
    padding: 5px 5px 5px 5px;
}